/* Navbar */
#navbar {
    background: var(--primary-blue);
    color: #fff;
    position: unset;
  }
  
  #navbar .logo {
    float: center;
    display: block;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
  }
  
  #navbar h1 span.text-primary {
    color: #fff;
  }
  
  #navbar ul,
  #navbar ul li {
    float: none;
  }
  
  #navbar ul li a {
    padding: 0;
    color: #fff;
  }
  
  #navbar ul li a:hover {
    background: #fff;
    color: var(--primary-color);
  }
  
  .signup:hover {
    background: #536cc7 !important;
    color: unset !important;
  }
  
  /* Utilities */
  .l-heading {
    font-size: 30px;
    line-height: 1.2em;
  }
  
  /* Showcase */
  #showcase {
    background: linear-gradient(to right,#eaf0f8 0%, #dde6f0 74%);
    height: 100%;
  }
  
  
  #showcase .showcase-content h1 {
    font-size: 30px;
  }
  
  #showcase .showcase-content {
    text-align: center;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  
  /* Features and FAQ Box */
  .feature,
  .box {
    float: none;
    width: 100%;
    padding: 10px !important;
  }
  
  /* Tech-1, Tech-2 */
  #tech-1,
  #tech-2 {
    height: 400px;
  }
  
  #tech-1 .tech-1-img,
  #tech-2 .tech-2-img {
    display: none;
  }
  
  #tech-1 .tech-1-content,
  #tech-2 .tech-2-content {
    float: none;
    width: 100%;
  }
  
  /* Contact Form */
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  